name: Story Scrapper

on:
  # schedule:
  #   - cron: '26 11 3 * *'  # 3rd of every moth
  workflow_dispatch:

permissions:
  contents: write

jobs:
  fetch-new-story:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: rsb-23/actions/checkout@v1
      - name: Setup Python
        uses: rsb-23/actions/setup-python@v1
        with:
          python-version: 3.12

      - name: Install deps
        shell: bash
        run: pip install -r rajasekhar/requirements.txt

      - name: Run make_md
        shell: bash
        run: python3 rajasekhar/make_md.py

      - name: Git push
        uses: rsb-23/actions/commit-n-push@v1
        with:
          git_user: "story[bot]"
          files: "rajasekhar/"
          commit_message: "chore: Fetch new stories"